
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/assets/img/brand/2.png" type="image/png">
    <meta charset="UTF-8">
    <title>Download the Results</title>
</head>
<body>

<div>
    <a class="menu" href="../file_down/{{file1}}" download='{{ file1 }}'> {{ file1 }} </a>
</div>
<div>
    <a class="menu" href="../file_down/{{file2}}" download='{{ file2 }}'> {{ file2 }} </a>
</div>
<div>
    <a class="menu" href="../file_down/{{file3}}" download='{{ file3 }}'> {{ file3 }} </a>
</div>
<div>
    <a class="menu" href="../file_down/{{file4}}" download='{{ file4 }}'> {{ file4 }} </a>
</div>
<a href="../Home">Back to The Home Page</a>
</body>
</html>
